# Node
node_modules/
npm-debug.log*
*.log
package-lock.json

# Vite
dist/
.vite/
.cache/

# Electron output
out/
build/
dist-electron/

# System
.DS_Store
Thumbs.db

# IDEs/Editor
.vscode/
.idea/
.github/
*.code-workspace
carjan-old/
md-logs/
reference/

# OS/Exec
*.exe
*.bat
*.sh

# Environment
.env
.env.example

